.rowContainer {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background: #DFECE4;
    justify-content: space-between;
    
}
.columnContainer {
    max-width: 240px;
    max-height: 170px;
    border-radius: 5px;
    margin: 10px;
}