.rowContainer {
	display: flex;
	flex-flow: row-reverse wrap;
	padding: 10px;
	justify-content: center;
	border: gray solid 1px;
	align-items: center;
	gap: 10px;

}
.columnContainer {
	display: flex;
	flex-flow: column;
	justify-content: center;
	max-width: 300px;
	border-radius: 10px;
	border: gray solid 1px;
	margin: 10px;
}

h3 {
	text-align: center;
}
